<!------------------Cards----------------------->
<div class="card" *ngFor="let i of total">
  <section class="card-content">
    <article class="card-place">
      <p><i class="bi bi-geo-alt"></i>
        Lugar de Votación:</p>
      <span>{{i?.municipio || ''}}</span>
      <p><i class="bi bi-people"></i>
        Numero de Votantes:</p>
      <span>{{i?.sumatoria_votantes || 0}}</span>
      <p><i class="bi bi-archive"></i>
        Numero de Votos:</p>
      <span>{{i?.sumatoria_votos_por_alcalde || 0}}</span>
    </article>
  </section>
</div>
<!------------------Cards Totals----------------------->
<div class="card">
  <section class=" card-content">
    <article class="card-place">
      <p><i class="bi bi-archive"></i>
        Total de Votantes:</p>
      <span>{{sumatoria_votantes}}</span>
    </article>
  </section>
</div>
<div class="card">
  <section class="card-content">
    <article class="card-place">
      <p><i class="bi bi-archive"></i>
        Total de Votos por Alcalde:</p>
      <span>{{sumatoria_votos_por_alcalde}}</span>
    </article>
  </section>
</div>

<!--------------Tabla especifica---------------->
<div id="table-container">
  <div class="selects">
    <label for="">Lugar</label>
    <select name="lugar_votacion" (change)="onSelect($event)">
      <option value="0">Seleccione</option>
      <option *ngFor="let i of sitios" [value]="i.id">{{i.municipio}}</option>
    </select>
    <label for="">Mesas</label>
    <select name="lugar_votacion" (change)="onSelectlist($event)">
      <option value="">Seleccione</option>
      <option *ngFor="let i of mesas" [value]="i.cime_id">{{i.mesa}}</option>
    </select>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="mostrar" class="">Mostrar</label>
        <select class="" name="mostrar" id="mostrar" [(ngModel)]="registros">
          <option value="5" selected>5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">10</option>
        </select>
        <label for="" class="">Registros </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="" class="">buscar</label>
        <input type="text" class="" name="" id="" aria-describedby="helpId" placeholder="Buscar" [(ngModel)]="filtro">
      </div>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Lugar de votación</th>
        <th>Cantidad de votantes</th>
        <th>Cantidad de votos</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      <p class="description" *ngIf="lista.length == 0">
        Para visualizar datos debe seleccionar un lugar y una mesa de votación
      </p>
      <tr
        *ngFor="let i of lista | filtroGeneral: filtro | paginate: { id: 'table' , itemsPerPage: registros, currentPage: p } ">
        <td>{{i.municipio}}</td>
        <td>{{i.votantes}}</td>
        <td>{{i.votos_alcalde}}</td>
        <td>{{i.hora}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls id="table" (pageChange)="handlePageChange($event)" previousLabel="Anterior"
    nextLabel="Siguiente">
  </pagination-controls>
</div>