<!------------------Selects----------------------->
<div class="selects">
  <label for="">Municipios</label>
  <select name="lugar_votacion">
    <option value="">Ejemplo</option>
  </select>
  <label for="">Mesas</label>
  <select name="lugar_votacion">
    <option value="">Ejemplo</option>
  </select>
</div>

<!--------------Tabla especifica---------------->
<div id="table-container">
  <table>
    <thead>
      <tr>
        <th>Lugar de votación</th>
        <th>Cantidad de votantes</th>
        <th>Cantidad de votos</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tr>
      <td>Luz</td>
      <td>Febrero</td>
      <td>$ 5,500</td>
      <td>10:00 a.m.</td>
    </tr>
    <tr>
      <td>Coche</td>
      <td>Marzo</td>
      <td>$ 10,100</td>
      <td>10:00 a.m.</td>
    </tr>
    <tr>
      <td>Internet</td>
      <td>Abril</td>
      <td>$ 450</td>
      <td>10:00 a.m.</td>
    </tr>
  </table>
</div>