/*Estilos de Tabla especifica*/
#table-container {
  margin: auto;
  width: 80%;
  height: auto;
  padding: 10px;
  overflow: auto;
}
.selects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 100px;
  height: 10px;
  padding: 30px;
  font-size: 16px;
}

.selects select {
  height: 40px;
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
.selects select:hover {
  border: 2px solid #222526;
}
.selects label {
  float: left;
  margin-left: 10px;
}
table {
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.3) inset;
}
th,
td {
  padding: 20px;
}

thead {
  background-color: #ac0000;
  border-bottom: solid 5px #ccc;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:hover td {
  background-color: #f20000;
  color: white;
}

.description {
  text-align: center;
}

@media screen and (max-width: 782px) {
  .card {
    width: 80%;
    height: 30%;
    margin-left: 60px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}
@media screen and (max-width: 482px) {
  .selects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .selects select {
    height: 40px;
    margin-left: 10px;
  }
  #table-container {
    width: 95%;
    height: auto;
  }
}
