<div class="container">
  <form class="form">
    <img src="../src/assets/logo.jpg" alt="" />
    <p class="form-title">Iniciar Sesion</p>
    <div class="input-container">
      <input placeholder="Ingresar usuario" class="input-field" type="text" />
      <label for="input-field" class="input-label">Ingresar usuario</label>
      <span class="input-highlight"></span>
    </div>
    <div class="input-container">
      <input
        placeholder="Ingresar contraseña"
        class="input-field"
        type="password"
      />
      <label for="input-field" class="input-label">Ingresar contraseña</label>
      <span class="input-highlight"></span>
    </div>
    <button type="submit" class="submit">Ingresar</button>
  </form>
</div>
