<div *ngIf="!token; then login"></div>
<div *ngIf="token; then menu"></div>
<ng-template #login>
  <section class="container">
    <form class="form" (ngSubmit)="mostrar()" [formGroup]="formUser">
      <img class="logo" src="../assets/logo.jpg" alt="" />
      <p class="form-title">Iniciar Sesion</p>
      <div class="input-container">
        <label for=" form-label" class="form-label">Digite su Usuario:</label>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario" class="input-field"
          formControlName="usuario"
          [ngClass]="{'is-invalid animated shake': getUsuario.invalid && getUsuario.touched}" />
        <span class="input-highlight"></span>
        <div class="alert alert-danger mt-2" [hidden]="getUsuario.valid || getUsuario.pristine">
          El campo usuario es obligatorio
        </div>
      </div>
      <div class="input-container">
        <label for="form-label" class="form-label">Digite su Contraseña</label>
        <input type="password" name="password" id="password" placeholder="********" class="input-field"
          formControlName="password"
          [ngClass]="{'is-invalid animated shake': getPassword.invalid && getPassword.touched}">
        <span class="input-highlight"></span>
      </div>
      <div class="alert alert-danger mt-2" [hidden]="getPassword.valid || getPassword.pristine">
        <span *ngIf="getPassword.errors?.['required']">
          El campo Password es obligatorio
        </span>
      </div>
      <button type="submit" class="submit" [disabled]="formUser.invalid">Ingresar</button>
    </form>
  </section>
</ng-template>
<ng-template #menu>
  <nav class="sidebar" [hidden]="menuOpen">
    <div class="logo_items flex">
      <span class="user_name">
        <i class="bi bi-person-circle" id="user"></i>
        {{usuario}}
      </span>
    </div>
    <div class="menu_container">
      <div class="menu_items">
        <ul class="menu_item">
          <li class="option_menu">
            <a href="#" class="link flex" (click)="closeMenu()" routerLink="registro">
              <i class="bi bi-plus-circle"></i>
              <span>Registrar Avance</span>
            </a>
          </li>
          <li class="option_menu">
            <a href=" #" class="link flex" (click)="closeMenu()" routerLink="generales">
              <i class="bi bi-table"></i>
              <span>Tabla General</span>
            </a>
          </li>
          <li class="option_menu">
            <a href=" #" class="link flex" (click)="closeMenu()" *ngIf=" usuario == 'Administrador'" routerLink="especificos">
              <i class="bi bi-table"></i>
              <span>Tablas Especificas</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  <nav class="menu">
    <a href="#">
      <img class="logo_menu" src="../assets/logo_menu.png" alt="Logo">
    </a>
    <span class="menu_hidden" (click)="menuOpen = !menuOpen">
      <i class="bi bi-list"></i>
    </span>
    <a href="#">
      <button class="exit" (click)="close_session()">Salir</button>
    </a>
  </nav>
  <router-outlet></router-outlet>
</ng-template>